.exercise-show-answer-panel {
  border: none !important;
}

.exercise-show-answer-component {
  min-height: 90px;
  margin-top: 10px;
}

.exercise-answer-form {
  margin-top: 10px;

  .form-control.is-valid,
  .form-control.is-invalid {
    background-image: none;
    padding-right: inherit;
  }
}

.exercise-check-answer-button {
  margin-right: 5px
}

@media (min-width: 767px) {
  .exercise-button-separator {
    visibility: hidden;
    display: none;
  }
}

@media (max-width: 767px) {
  .exercise-button-separator {
     line-height: 60px;
  }

  .exercise-check-answer-button {
    margin-bottom: 5px
  }
}