@media (min-width: 1024px) {
  .login-modal {
    width: 25%;
  }
}

.login-modal-body {
  height: 375px;
}

.login-modal-body .form-group {
  margin-bottom: 10px;
}

.login-error-message {
  color: #dd0000;
  height: 1.2em;
  margin-bottom: 10px;
}