@import "~react-toastify/dist/ReactToastify.css";
@import "~react-loader-spinner/dist/loader/css/react-spinner-loader.css";
@import "/static/css/lumen.bootstrap.theme.min.css";

body {
  background: url("/static/pattern/pattern.png") repeat;
}

.breadcrumb {
  font-size: 1.2em;
}

.hidden {
  display: none;
}